
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Space+Mono&display=swap');
                   

body {
background-color: #F9F5F2;
}
nav a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-family: sans-serif;
    margin: 10px; 
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Poppins', sans-serif;

}
nav {background-color: #E8D8C7;
    padding: 45px;
    position: relative;
    width: 100%;
}

nav :hover {
color: #F9F5F2;
}

.logo {
    width: 250px;
    top: 22px;
    
}

header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo:hover{
    width: 255px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
}

.sitting {
       width: 50%;
       padding-right: 2%;
}
.painting {
    width: 20%;
    padding-right: ;
}

.sclupture {
    width: 20%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #7c2776;
}
h1:hover {
    font-weight: 500;
}

.Explore {
    font-family: 'Poppins', sans-serif;
    padding-left: 3%;
    font-size: 25px;
}

.sara1 {
    max-width: 500px;
    padding: 3%;
    max-height: 500px;
}

.brooke1 {
    max-width: 500px;
    max-height: 500px;
    padding: 3%;
    position: absolute;
    right: 650px;
    top: 1118px;
}

figcaption {
    padding-left: 3%;
    font-family: 'Poppins';
    font-size: 18px;
    
}
