body {
background-color: #F9F5F2;
}
nav a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-family: sans-serif;
    margin: 10px; 
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Poppins', sans-serif;

}
nav {background-color: #E8D8C7;
    padding: 50px;


}
nav :hover {background: #C2B2A0;
padding: 50px;
background: hover;
color: #F9F5F2;
}
.logo {
    width: 280px;
    position: relative;
    width: 456px
    height: 231px;
    top: -795px;
    left: 1400px;

    
}
.sitting {

    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 1%;    
}
.painting {
    width: 323px;
    height: 399px;
    padding-top: 6%;
    padding-left: 3%;
    padding-right: 3.5%;
    
}
.sclupture {
    width: 323px;
    height: 399px;
    padding: right 3%;
    padding-top: 6%;
    padding-right: 3%;
    padding-left: 3.5%;
}

h1 {

}